header {
  margin: 0;
  border-bottom: 5px solid #fff;
}

.admin-dashboard {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: stretch;
  align-items: start;
  width: 100%;
  margin: 0;
}

.menu {
  margin: 0;
  width: 20%;
  height: 87vh;
  background-color: #555;
  padding: 32px 0;
}

.menu-btns {
  width: 100%;
  padding: 12px;
  background-color: #555;
  font-family: inherit;
  font-size: 24px;
  color: #fff;
  border: none;
}

.menu-btns:hover,
.menu-btns:active {
  cursor: pointer;
  background-color: #222;
}

.content {
  width: 80%;
  height: 87vh;
  padding: 32px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.msg-container {
  margin: 48px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-error {
  font-size: 32px;
}

.secondary-error {
  font-size: 24px;
}

.okay-btn {
  font-size: 24px;
  margin-top: 32px;
  width: 30%;
  font-family: inherit;
  padding: 12px;
  background-color: #222;
  border: 2px solid #fff;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
}

h2 {
  color: #fff;
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid #aaa;
}

.addedit-form-container {
  width: 50%;
}

.addedit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #555;
  padding: 32px 0;
  border-radius: 13px;
}

.addedit-form label {
  display: block;
  margin-bottom: 12px;
  text-align: left;
}

.addedit-form input,
.addedit-form textarea {
  font: inherit;
  padding: 8px;
  border: none;
  width: 100%;
  border-radius: 9px;
}

.addedit-form p {
  width: 90%;
  display: flex;
  flex-direction: column;
}

#image {
  padding: 0;
  font-family: inherit;
  border-radius: 0;
}

#image::file-selector-button {
  padding: 8px;
  font-family: inherit;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 9px;
}

.dropdown {
  font-size: 16px;
  font-family: inherit;
  padding: 8px;
  border-radius: 9px;
}

.submit-btn-admin {
  margin-top: 32px;
  width: 90%;
  font-family: inherit;
  padding: 12px;
  background-color: rgb(3, 148, 22);
  border: 2px solid #fff;
  border-radius: 9px;
  text-decoration: none;
  color: #fff;
}

.submit-btn-admin:hover,
.submit-btn-admin:active {
  cursor: pointer;
  background-color: rgb(0, 83, 11);
  color: #fff;
}

.adminform-validation-error {
  width: 100%;
  background-color: rgb(161, 0, 0);
  padding: 8px 16px;
  color: #fff;
  font-weight: bold;
}

.admin-movie-card,
.admin-theatre-card,
.admin-show-card {
  display: flex;
  width: 70%;
  background-color: #333;
  border-radius: 24px;
}

.admin-movie-card {
  overflow-x: clip;
  gap: 24px;
  min-height: 220px;
}

.movie-poster {
  width: 20%;
}

.movie-details-container,
.theatre-details-container,
.show-details-container,
.show-details-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-details-container {
  width: 50%;
  padding: 24px 0;
}

.movie-title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.movie-releasedate {
  margin-top: auto;
  margin-bottom: 8px;
}

.isActive {
  padding: 4px 8px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  border-radius: 9px;
  font-size: 12px;
}

.Active {
  background-color: rgb(14, 173, 0);
}

.Notactive {
  background-color: rgb(173, 14, 0);
}

.moviecardbtn-container,
.theatrecardbtn-container,
.showcardbtn-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.moviecardbtn-container {
  width: 30%;
}

.admincard-btn {
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
  background-color: #222;
  color: #fff;
  font-family: inherit;
  border: 2px solid #fff;
  border-radius: 9px;
}

.admincard-btn:hover,
.admincard-btn:active {
  cursor: pointer;
  background-color: #fff;
  color: #222;
}

.border-breaker {
  margin-top: 32px;
  margin-bottom: 32px;
  border-bottom: 3px solid #bbb;
  border-radius: 3px;
  fill: #222;
  width: 100%;
}

.admin-theatre-card {
  min-height: 170px;
  gap: 0;
}

.theatre-details-container {
  width: 75%;
  padding: 24px 0px 24px 24px;
}

.theatre-name {
  color: #fff;
  font-size: 22px;
  margin-bottom: 8px;
}

.theatre-address {
  text-align: left;
  letter-spacing: 0.3px;
}

.theatre-city {
  margin-top: auto;
  font-size: 18px;
  color: #fff;
}

.theatrecardbtn-container {
  width: 25%;
}

.admin-show-card {
  min-height: 200px;
  gap: 0;
  padding: 24px;
  width: 80%;
}

.show-details-container {
  width: 50%;
}

.show-details-container2 {
  width: 30%;
}

.movie-name {
  color: #fff;
  font-size: 22px;
  margin-bottom: 6px;
  text-align: left;
}

.show-theatre-name {
  color: rgba(255, 196, 0, 0.795);
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.5px;
  margin-bottom: auto;
}

.show-capacity {
  letter-spacing: 0.4px;
}

.available-seats {
  margin-bottom: auto;
  letter-spacing: 0.4px;
}

.show-price {
  font-size: 18px;
  margin-bottom: auto;
}
.price-number {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.show-date {
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.show-time {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 4px 8px;
  border-radius: 9px;
  letter-spacing: 0.4px;
}

.showcardbtn-container {
  width: 20%;
  overflow-x: clip;
}

.showcardbtn-error-container {
  display: flex;
  align-items: center;
  width: 20%;
  text-align: left;
  color: #aaa;
  letter-spacing: 0.4px;
}

.show-type {
  font-size: 24px;
  padding: 8px 12px;
  font-weight: bold;
  margin-top: 32px;
  border-radius: 9px;
}

.past-show {
  background-color: rgb(211, 112, 0);
  color: #fff;
}

.current-show {
  background-color: rgb(92, 173, 0);
  color: #fff;
}

.showday-style-color-red {
  color: rgb(255, 145, 0);
}

.showday-style-color-green {
  color: rgb(145, 255, 0);
}

.showday-style-color-blue {
  color: rgb(0, 225, 255);
}
